<div class="{{ overrideClassTile }} su-tile">

	{% if tileTitle %}
		<h2 class="su-tile_title">{{ tileTitle }}</h2>
	{% endif %}

	<ul class="su-tile_list su-list">

		{% for row in dataTile %}
			<li class="su-list_item">

				{% if onlyTile %}
					<div class="su-tile-block">
						<div class="su-tile-block_img su-block">
							<img class="su-block_element" src="{{ row.src }}" alt="">
						</div>
						<div class="su-tile-block_title su-block">
							<a class="su-block_element" href="{{ row.href }}">{{ row.title }}</a>
						</div>
					</div>
				{% else %}
					{% include 'offer.twig' with {overrideClassOffer: 'su-list_offer'} %}
				{% endif %}

			</li>
		{% endfor %}

	</ul>

	{% if tileMore %}
		<div class="su-tile_more su-block">
			<a class="su-block_element su-more" href="#">{{ tileMore }}</a>
		</div>
	{% endif %}

</div>