{% if typeTwig == 'php' %}
	{% set pathBlog = 'templates/pages/' %}
{% endif %}

{% extends (typeTwig == 'php') ? 'templates/layout/connect/grid-2.twig' : '../layout/connect/grid-2.twig' %}


{% block content %}

	<div class="su-blog">
		{% if listBlogArticle1 %}
			<h1>Блог Маникюр Шоп</h1>
			<article>
				<header>
					<h2>Студиум — учебное пространство по маникюру</h2>
				</header>
				<p>
					Учебные материалы, обзоры, видеоролики. Узнайте все секреты и тонкости маникюра, наращивания ногтей, spa-процедур и нэйларта. Европейский маникюр, мужской маникюр, детский маникюр, секреты ухода и лечения ногтей - мы стараемся осветить все!
				</p>
				<p>
					Многие делают маникюр самостоятельно, в домашних условиях. Это удобно, для многих очень интересно. Статьи на Маникюр Шоп и множество видеороликов по маникюру, дизайну ногтей, евроманикюру помогут Вам делать маникюр дома безукоризненно.
				</p>
				{% include pathBlog~'blocks/free-mail.twig' with {overrideClassfreeMail: 'su-blog_free-mail'} %}
			</article>
			<article>
				<header>
					<h2>Ногти: маникюр, лечение и дизайн</h2>
				</header>
				<ul class="su-blog_list su-list _su-circle">

					{% for row in listBlogArticle1 %}
						<li class="su-list_item">
							<a class="su-tags-link {{ modifier }}" href="{{ row.href }}">{{ row.title }}</a>
						</li>
					{% endfor %}

				</ul>
			</article>
			<article>
				<header>
					<h2>Уход за руками</h2>
				</header>
				<ul class="su-blog_list su-list _su-circle">

					{% for row in listBlogArticle2 %}
						<li class="su-list_item">
							<a class="su-tags-link {{ modifier }}" href="{{ row.href }}">{{ row.title }}</a>
						</li>
					{% endfor %}

				</ul>
			</article>
		{% else %}
			<h1>Дизайн ногтей Moscow street</h1>
			<p>Порадуйте себя новым дизайном ногтей. Если сделаете эту несложную процедуру верно, то маникюр продержится всю рабочую неделю.</p>
			<dl>
				<dt>
					Технология выполнения дизайна ногтей Moscow street:
				</dt>
				<dd>
					<ul>
						<li>
							нанесите на чистые сухие ногти основу под лак укрепитель ногтей 2 в 1. Это будет лечить ваши ногти и увеличит срок носки маникюра;
						</li>
						<li>
							после высыхания основы нанесите 1 слой лака для ногтей Aurelia Blossom № 12 серо-бежевого цвета на все ногти, кроме безымянного. Наносите «толстой» каплей, тогда уже в 1 слой лак перекрое ногтевую пластину, и ноготь не будет просвечиваться;
						</li>
						<li>
							на ноготь безымянного пальца нанесите 1–2 слоя лака Aroma Blue angel № 8;
						</li>
						<li>
							наклейте на ногти с высохшим лаком серо-бежевого цвета накладки для французского маникюра и окрасьте свободные края ногтей лаком небесно-синего цвета. Когда кончики подсохнут, снимите накладки;
						</li>
						<li>
							сотрите с боковых валиков излишки лака с помощью корректора маникюра;
						</li>
						<li>
							покройте маникюр средством для быстрой сушки лака. Это не только сократит время высыхания лака, но и защитит его от сколов и потускнения.
						</li>
					</ul>
				</dd>
			</dl>
			<dl>
				<dt>
					Технология выполнения дизайна ногтей Moscow street:
				</dt>
				<dd>
					<ul>
						<li>
							<a href="#">Укрепитель ногтей 2 в 1</a>
						</li>
						<li>
							<a href="#">Лак Aroma Blue angel №8</a>
						</li>
						<li>
							<a href="#">Накладки для Французского маникюра «Богема»</a>
						</li>
						<li>
							<a href="#">Корректор маникюра «Богема» (капиллярный карандаш)</a>
						</li>
						<li>
							<a href="#">Средство для быстрой сушки лака </a><nobr></nobr>
						</li>
						<li>
							<a href="#">Виниловое покрытие</a>
						</li>
					</ul>
				</dd>
			</dl>
			{% include pathBlog~'blocks/slider.twig' with {overrideClassSlider: 'su-blog_slider'} %}
			<div class="su-blog_back su-block">
				<a class="su-block_element" href="blog.html">Возврат ко всем статьям блога</a>
			</div>
		{% endif %}
	</div>

{% endblock %}

{% block wrapper_popup %}
{% endblock %}

{% block script %}
	{{ parent() }}
	<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	<script src="js/slider.js"></script>
	<script>
		// ИНИЦИАЛИЗАЦИЯ СЛАЙДЕРА КОНТЕНТА
		//------------------------------------------------------------
		var slider = new Slider({
			scrollTime: 7
		});

		slider.init();
		//------------------------------------------
	</script>
	<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
{% endblock %}