{% if typeTwig == 'php' %}
	{% set pathCard = 'templates/' %}
{% else %}
	{% set pathCard = '../' %}
{% endif %}

{% extends (typeTwig == 'php') ? 'templates/layout/connect/grid-2.twig' : '../layout/connect/grid-2.twig' %}


{% block content %}

	<div class="su-card _su-top-sales">
		<h1 class="su-card-title">{{ card.title }}</h1>
		<div class="su-card_main">
			<div class="su-card-view">
				<div class="su-card-view-big su-preview">
					<a class="su-preview_link su-link-img" href="{{ card.img.href }}" rel="group1">
						<img class="su-link-img_img" src="{{ card.img.src }}" alt="{{ card.img.alt }}" title="{{ card.img.title }}">
					</a>
				</div>
				<div class="su-card-view-more">
					<ul class="su-card-view-more_list su-list">

						{% for row in  card.moreImg %}
							<li class="su-list_item">
								<div class="su-card-view-min su-preview">
									<a class="su-preview_link su-link-img" href="{{ row.href }}" rel="group1">
										<img class="su-link-img_img" src="{{ row.src }}" alt="{{ row.alt }}" title="{{ row.title }}">
									</a>
								</div>
							</li>
						{% endfor %}

					</ul>
				</div>
			</div>
			<div class="su-card-actions">
				<dl class="su-card-actions_price su-detail">
					<dt class="su-detail_label">Лучшая цена:</dt>
					<dd class="su-detail_value su-currency">2450</dd>
				</dl>
				<div class="su-card-actions_rating su-rating">
					Рейтинг:
					<a class="su-rating_link" href="#">
						<span class="su-rating_current" style="width:50%"></span>
					</a>
				</div>
				<div class="su-card-actions_links su-block">
					<a class="su-block_element su-link-btn _su-buy" href="#" data-toggle="modal" data-target=".su-modal-choice">Купить</a>
					<a class="su-block_element su-link" href="#" data-toggle="modal" data-target=".su-modal-delivery">Все варианты доставки</a>
				</div>
				<div class="su-card-actions_favorites su-block">
					<a class="su-block_element su-link-btn _su-favorites" href="">В избранное</a>
					<a class="su-block_element su-link" href="#">Этот товар уже у вас в избранном</a>
				</div>
				<div class="su-card-order">
					<div class="su-card-order_title">Заказ в один клик:</div>
					<div class="su-card-order_text">
						Менеджер перезвонит вам, узнает все детали и сам оформит заказ на ваше имя.
					</div>
					<form class="su-card-order_form su-one-click" action="#" method="post">
						<div class="su-one-click_phone su-field-text">
							<label class="su-field-text_label" for="phone-one-click">Введите ваш телефон:</label>
							<div class="su-field-text_block">
								<input id="phone-one-click" class="su-field-text_input" type="text" name="#" placeholder="+_(___) ___ __ __">
							</div>
							<span class="su-field-text_error">Текст ошибки</span>
						</div>
						<div class="su-one-click_button su-block">
							<button class="su-block_element su-btn" type="button" data-toggle="modal" data-target=".su-modal-application">Заказать</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="su-card_description">
			<h2>Описание товара</h2>

			<p><b>Пользуйтесь дома или берите в дорогу!</b></p>

			<p>Хотите маникюрный набор с оптимальным количеством инструментов? Вам важен строгий дизайн, чтобы ничего лишнего? Вам достаточно ножниц и кусачек?</p>

			<dl>
				<dt>
					Набор Mertz 7207 содержит инструменты, понятные даже новичку:
				</dt>
				<dd>
					<ul>
						<li>двое ножниц;</li>

						<li>кусачки;</li>

						<li>пинцет;</li>

						<li>пилка;</li>

						<li>шабер-лопатка;</li>

						<li>шабер-топорик.</li>
					</ul>
				</dd>
			</dl>

			<p>Размеры: 14,5х8,5см.</p>

			<p>Включает в себя инструмент заточенный вручную. Сделан в стиле, который Вам подходит — гладкий чехол, черный цвет и закрывается на молнию.</p>

			<p><b>Хотите порадовать себя или близкого человека? Тогда заказывайте набор Mertz 7207 прямо сейчас!</b></p>

			{% include pathCard~'pages-common/modules/photo-paragraph.twig' with {overrideClassPhotoParagraph: ''} %}
			{% include pathCard~'pages-common/modules/photo-figure.twig' with {overrideClassPhotoFigure: ''} %}
		</div>
		{% include pathCard~'pages-common/modules/comments.twig' with {overrideClassComments: 'su-card_comments'} %}
		{% include pathCard~'pages-common/modules/slider.twig' with {overrideClassSlider: 'su-card_slider'} %}
	</div>

{% endblock %}

{% block script %}
	{{ parent() }}
	<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	<script src="vendors/fancybox-1.3.4/jquery.fancybox-1.3.4.pack.js"></script>
	<script src="js/slider.js"></script>
	<script>
		//------------------------------------------------------------
		// ИНИЦИАЛИЗАЦИЯ ПЛАГИНА JSCROLLPANE ДЛЯ КОММЕНТАРИЕВ
			$(function(){
				var element = jQuery('.su-comments_list').jScrollPane(),
					api = element.data('jsp'),
					verticalScrollBar = api.getIsScrollableV();

				// Добавление класса (модификатора) для отслеживания
				// наличия вертикальной полосы прокрутки.
				if (verticalScrollBar) {
					$('.su-comments_list').find('.jspContainer').addClass('_jspOffset');
				}
				else {
					$('.su-comments_list').find('.jspContainer').removeClass('_jspOffset');
				}

				//api.reinitialise(s);
			});
		//------------------------------------------------------------

		//------------------------------------------------------------
		// ИНИЦИАЛИЗАЦИЯ ПЛАГИНА FANCYBOX
		$("a.su-preview_link").fancybox({
			'transitionIn'	:	'elastic',
			'transitionOut'	:	'elastic',
			'speedIn'		:	600,
			'speedOut'		:	200,
			'overlayShow'	:	false
		});
		//------------------------------------------------------------

		// ИНИЦИАЛИЗАЦИЯ СЛАЙДЕРА КОНТЕНТА
		//------------------------------------------------------------
		 var slider = new Slider({
		 	scrollTime: 7
		 });

		 slider.init();
		//------------------------------------------
	</script>
	<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
{% endblock %}