{% if typeTwig == 'php' %}
	{% set pathTags = 'templates/' %}
{% else %}
	{% set pathTags = '../' %}
{% endif %}

{% extends (typeTwig == 'php') ? 'templates/layout/connect/grid-2.twig' : '../layout/connect/grid-2.twig' %}


{% block content %}

	<div class="su-tags">
		{% if tagsPage == 'links'%}
			<h1 class="su-tags_title">Тэги</h1>
			<ul class="su-tags_tag-list su-list _su-circle">

				{% for row in listTags %}
					<li class="su-list_item">
						<a class="su-tags-link {{ modifier }}" href="{{ row.href }}">{{ row.title }}</a>
					</li>
				{% endfor %}

			</ul>
		{% else %}
			<h1 class="su-tags_title">Маникюрные кусачки</h1>
			{% include pathTags~'pages-common/modules/popular.twig' with {overrideClassPopular: 'su-tags_popular'} %}
			{% include pathTags~'pages-common/modules/group-buttons.twig' with {overrideGroupButtons: 'su-tags_sorting', groupButtons: groupButtonsSorting} %}
			{% include pathTags~'pages-common/modules/column.twig' with {overrideClassOffersList: 'su-column_offers'} %}
			{% include pathTags~'pages-common/modules/pagination.twig' with {overrideClassPagination: 'su-tags_pagination'} %}
			<ul class="su-tags_articles su-list">
				<li class="su-list_item">
					{% include pathTags~'pages-common/modules/article.twig' with {overrideClassOffer: 'su-list_article'} %}
				</li>
				<li class="su-list_item">
					{% include pathTags~'pages-common/modules/article.twig' with {overrideClassOffer: 'su-list_article'} %}
				</li>
				<li class="su-list_item">
					{% include pathTags~'pages-common/modules/article.twig' with {overrideClassOffer: 'su-list_article'} %}
				</li>
			</ul>
			{% include pathTags~'pages-common/modules/videoblock.twig' with {overrideClassVideo: 'su-list_video'} %}
			<dl class="su-tags_blog su-detail">
				<dt class="su-detail_label">Читайте также</dt>
				<dd class="su-detail_value">
					<ul class="su-tag-blog-links su-list _su-circle">

						{% for row in linksBlog %}
							<li class="su-list_item">
								<a class="su-tags-link {{ modifier }}" href="{{ row.href }}">{{ row.title }}</a>
							</li>
						{% endfor %}

					</ul>
				</dd>
			</dl>
		{% endif %}

	</div>

{% endblock %}


{% block script %}
	{{ parent() }}
	<!-- СКРИПТЫ ДЛЯ ВЕРСТКИ -->
	<script>
		//------------------------------------------------------------
		//............................................................
		//------------------------------------------------------------
	</script>
	<!-- /СКРИПТЫ ДЛЯ ВЕРСТКИ -->
{% endblock %}